@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.textarea {
    background-color: black;
    resize: none;
    height: 40px;
    width: 60vw;
    font-size: larger;
    color: gray;
    text-align: center;
}

.loading{
    font-family: "VT323", monospace;
    display: flex;
    justify-content: center;
    color: rgb(102, 102, 102);
    font-size: 30px;
    animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
    0% {
        background-color: rgb(65, 65, 65);
    }

    50%{
        background-color: aliceblue;
    }
}

.replyarea{
    text-align: center;
    font-family: "VT323", monospace;
    background-color: black;
    height: 1000px;
    display: flex;
    color: rgb(180, 180, 180);
    font-size: 20px;
    width: 60vw;
    height: 300px;
    scrollbar-width: none;
}

.talk {
    font-size: 4em;
    color: rgb(65, 65, 65);
}

.chatdiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sendButton {
    background: url("/up-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border: none;

    position: relative;
    bottom: 90px;
    border-radius: 100px;

    transition: 0.2s ease-in-out rotate, 0.05s ease-out scale;
}

.sendButton:hover{
    rotate: 45deg;
}

.sendButton:active{
    scale: 0.85;
}